.report-container, .disclaimer-container {
  background-color: white;
  padding: 15px;
}

.report-section {
  box-shadow: 0 0 3px  lightgray;
  background-color: white;
}

.report-container h3 {
  color: #6AB187;
}

.report-container label {
  width: 100%;
}

.report-section {
  padding-left: 0px;
}

.report-container form .submit-container {
  text-align: right;
}

.disclaimer-container h5 {
  font-weight: 400;
}

.disclaimer-container h4 {
  color: #AC3E31;
}

.disclaimer-container p {
  font-style: italic;
}

.disclaimer-section{
  padding-right: 0;
}

/* Photo section */
.photos-section{
  padding: 15px;
}
.photo-container{
  background-color: gray;
  height: 250px;
  overflow: hidden;
}

.photo-container img{
  object-fit: cover;

}



@media (max-width: 767px) {
  .report-section {
    padding-right: 0;
  }

  .disclaimer-section{
    margin-top: 15px;
  }
}

@media (max-width: 991px) {
  .disclaimer-section{
    margin-top: 15px;
    padding: 0;
  }
  .report-section {
    padding-right: 0;
  }

}
