<nav class="navbar navbar-expand-lg  navbar-light bg-light">
  <!--
    <span id="open-side-menu" class="side-menu-icons"> <i class="fa fa-chevron-right" aria-hidden="true"></i> </span>
    -->
    <span id="close-side-menu" class="side-menu-icons"><i class="fa fa-times" aria-hidden="true"></i></span>
  <a class="navbar-brand" href="#">Property Management</a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse navbar-right" id="navbarNav">
    <ul class="navbar-nav ml-auto" >
      <li class="nav-item active">
        <a class="nav-link" href="#">Settings <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Profile</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Logout</a>
      </li>
    </ul>
  </div>
</nav>
