/*
card {
  margin-top: 10px;
}

.report-card {
  margin-bottom: 15px;
  max-height: 250px;
  overflow: hidden;
  box-shadow: 0 0 3px #aab4c2;
}

.report-card:hover {
  box-shadow: 0 0 10px #484848;
  cursor: pointer;
}

.report-card-title,
.report-card-body {
  padding: 15px;
}

.report-card-body {
  height: 155px;
  background-color: white;
}

.report-card-title {
  border-bottom: none;
  color: rgb(48, 48, 48);
  background-color: white;
}

.report-card .img-container {
  width: 100%;
  height: 100%;
  padding: 0;
  overflow: hidden;
}

.report-card .image-text {
  position: relative;
  top: -40px;
  text-align: center;
  color: white;
  background-color: rgba(20, 20, 20, 0.8);
  height: 40px;
  margin-bottom: -40px;
}

.report-card .img-container img {
  height: 250px;
}



@media (max-width: 767px) {
  .report-card {
    max-height: none;
  }
  .report-card .img-container img {
    height: 200px;
    width: 100%;
  }

  .report-card-body {
    max-height: 140px;
    overflow: hidden;
  }
}
*/

/* Report Tracker*/

.report-track-container {
  text-align: center;
  padding: 10px 0;
}

.track-new,
.track-inprogress,
.track-complete {
  padding: 20px;
  background-color: transparent;
}

.track-new {
  color: #6AB187;
}

.track-inprogress {
  color: #4383a2;
}

.track-complete {
  color: #484848
}

.track-new .fa,
.track-inprogress .fa,
.track-complete .fa {
  color: white;
  padding: 15px;
  border-radius: 50%;
}

.track-new .text,
.track-inprogress .text,
.track-complete .text {
  font-size: 20px;
}


/* FILTERS */

.filter li {
  border-color: #DBAE58;
  background-color: rgb(252, 244, 229);
  border-radius: 0;
}

.filter .list-group-item{
  margin-bottom: 10px;
  border-radius: 5px;
}

.filter li:hover {
  cursor:pointer;
}
.filter li  {
  font-weight: bold;
  color: #a06900;
}

.filter li.active  {
  font-weight: bold;
  color: white;
  background-color: #DBAE58;
}

.filter li.active i  {
  font-weight: bold;
  color: #865700;
}


.filter li i {
  color: #DBAE58;
  padding-right: 10px;
}



/* REPORT LIST */

.report-list {
 /*  background-color: white; */
  padding-left: 15px !important;
  padding-right: 15px !important;

}

.report {
 /* border-bottom: 1px solid lightgray; */
 background-color: white;
 margin-bottom: 12px;
 box-shadow: 0 0 5px lightgray;
 border: 1px solid rgb(201, 201, 201);
}
.media .img-container{
  padding: 10px;

}
.report .media img {
  height: 100px;
  display: flex;
}

.report .media .media-body{
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
}

.report .media .middle-info {
  color: gray;
}

.report .media .buttons button {
  float:right;
  width: 200px;
  margin:  5px 0;
  background-color: white;
  height: 40px;
}


.report .hidden-middle-info {
  color: gray;
  margin-bottom: 10px;
}



.report .hidden-buttons button {
  width: 100%;
  margin-bottom:  10px !important;
  background-color: white;
  height: 40px;
  max-width: 350px;
  margin: auto;
}

.report .hidden-buttons .button-container {
  width: 100%;
  text-align: center;
  flex: 0 0 100%;
}


.report  .btn-success {
  color: #28a745;
}
.report .media button.btn-success:hover, .report .hidden-buttons .btn-success:hover{
  background-color: #28a745;
  color: white;
}

.report .btn-primary {
  color: #007bff;
}

.report  .media button.btn-primary:hover, .report .hidden-buttons .btn-primary:hover  {
  background-color: #007bff;
  color: white;
}

.report  .main-info .toggle{
  position: absolute;
  top: 40%;
  right: 20px;
  display:none;
}

.report .hidden-details {
  transition: all .3s;
  display:none;
}

.report .show-details {
  display: initial;
}
@media (max-width: 1400px) {
  .report .media .middle-info, .report .media .buttons{
    display:none;
  }

  .report .media .main-info {
    width: 100%;
    max-width: 100%;
    flex: 0 0 100%;
  }

  .report .media .main-info .toggle{
    display: initial;
  }

  .report .hidden-details {
    display: initial;
  }


}
