<div class="container dashboard">


  <div class="row">
    <!-- **********  Side Bar************ -->
    <div class="side-bar  d-none d-lg-block" [ngClass]="{'side-bar-minimize':sideBarMinimized && !sideBarHovering, 'side-bar-hover':sideBarHovering}"
      (mouseenter)="sideBarHover() " (mouseleave)="sideBarNotHover()">
      <div class="row" class="app-title">
        <a class="icon" routerLink="/">
          <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
          width="40" height="40"
          viewBox="0 0 48 48"
          style="enable-background:new 0 0 48 48;;fill:#000000;"><g>	<path style="fill:#4CAF50;" d="M24,5C13.5,5,5,13.6,5,24.1c0,8.2,5.1,15.1,12.3,17.9l4.2-11.5C18.8,29.5,17,27,17,24   c0-3.9,3.1-7,7-7s7,3.1,7,7c0,3-1.8,5.5-4.5,6.5L30.7,42C37.9,39.2,43,32.3,43,24.1C43,13.6,34.5,5,24,5z"></path>	<path style="fill:#ffffff;" d="M17.9,43.3l-0.9-0.4C9.2,40,4,32.4,4,24.1C4,13,13,4,24,4c11,0,20,9,20,20.1   c0,8.3-5.2,15.9-12.9,18.8l-0.9,0.4l-4.8-13.3l0.9-0.4c2.3-0.9,3.8-3.1,3.8-5.6c0-3.3-2.7-6-6-6s-6,2.7-6,6c0,2.5,1.5,4.7,3.8,5.6   l0.9,0.4L17.9,43.3z M24,6C14.1,6,6,14.1,6,24.1c0,7.1,4.3,13.7,10.7,16.5l3.5-9.6C17.6,29.7,16,27,16,24c0-4.4,3.6-8,8-8   s8,3.6,8,8c0,3-1.6,5.7-4.2,7l3.5,9.6C37.7,37.8,42,31.3,42,24.1C42,14.1,33.9,6,24,6z"></path></g></svg>
        </a>
        <a class="text" [ngClass]="{'text-hidden':sideBarMinimized && !sideBarHovering , 'not-hidden':!sideBarMinimized || sideBarHovering}"
          routerLink="/">
          Business</a>
      </div>

      <div class="row menu-list">
        <div class="open-icon col-md-12" routerLink="/dashboard" [routerLinkActive]="['menu-active']">
          <i class="material-icons" style="color:cornflowerblue">
            dashboard
          </i>
          <div [ngClass]="{'text-hidden':sideBarMinimized && !sideBarHovering, 'not-hidden':!sideBarMinimized || sideBarHovering}">
            Dashboard</div>
        </div>
        <div class="open-icon col-md-12" routerLink="/reports" [routerLinkActive]="['menu-active']">
          <i class="material-icons" style="color:lightblue">
            description
          </i>
          <div [ngClass]="{'text-hidden':sideBarMinimized && !sideBarHovering, 'not-hidden':!sideBarMinimized || sideBarHovering}">
            Reports</div>
        </div>

      </div>
    </div>

    <!-- ********* Right Side Content ************  -->
    <div class="main-content" [ngClass]="{'main-content-bigger': sideBarMinimized}">
      <nav class="navbar navbar-expand-lg navbar-dark navbar-custom" [ngClass]="{'nav-bigger': sideBarMinimized}">
        <!--
              <span id="open-side-menu" class="side-menu-icons"> <i class="fa fa-chevron-right" aria-hidden="true"></i> </span>
              -->
        <span id="close-side-menu" class="side-menu-icon d-none d-lg-block" (click)="sideBarToggle()" [ngClass]="{'text-hidden': !sideBarMinimized}">
          <i class="fa fa-bars" aria-hidden="true"></i>
        </span>
        <span id="close-side-menu" class="side-menu-icon d-none d-lg-block" (click)="sideBarToggle()" [ngClass]="{'text-hidden': sideBarMinimized}">
          <i class="fa fa-times" aria-hidden="true"></i>
        </span>


        <button class="navbar-toggler custom-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
          aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon" style="color: black"></span>
        </button>
        <div class="collapse navbar-collapse navbar-right" id="navbarNav">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link">Settings
                <span class="sr-only"></span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link">Profile</a>
            </li>
            <li class="nav-item">
              <a class="nav-link">Logout</a>
            </li>
          </ul>
        </div>
      </nav>
      <div class="content-area">
        <div class="date-row row">
          <div class="col-md-12">

          </div>
        </div>
        <app-main-content></app-main-content>
      </div>
    </div>
  </div>
</div>
