.dashboard {
  width: 100%;
  min-width: 100%;
  min-height: 100%;
}

/* SIDE MENU */

.side-bar {
  background-color: #2a3f54;
  width: 220px;
  min-height: 100%;
  height: calc(100vh);
  color: white;
  position: fixed;
  -webkit-transition: width 0.5s;
  /* For Safari 3.1 to 6.0 */
  transition: width 0.5s;
  z-index: 999;
}

.side-bar-hover {
  position: fixed;
  z-index: 999;
  width: 220px;
}

.app-title .text {
  position: absolute;
  left: 80px;
  top: 11px;
  font-family: 'Itim', cursive;
}


.container {
  height: 100%;
}

.side-bar-minimize {
  width: 75px !important;
}

.side-bar .app-title {
  max-height: 56px;
  height: 100%;
  text-align: center;
}

.side-bar .app-title .icon {
  position: absolute;
  left: 18px;
}

.side-bar .app-title {
  max-height: 56px;
  height: 100%;
  text-align: center;
  border-bottom: 1px solid #213444;
  padding-top: 5px;
}

.side-bar .app-title .material-icons {
  font-size: 35px;
  position: relative;
  top: 5px;
}

.side-bar .app-title a {
  font-size: 25px;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  max-height: 56px;
  height: 100%;
  text-align: center;
  color: white;
}

.menu-list {
  padding-top: 15px;
  margin-right: 0;
}

.menu-list .open-icon {
  font-size: 15px;
  padding-left: 80px;
  font-weight: bold;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 0px;
}

.menu-list .open-icon:hover {
  cursor: pointer;
}

.menu-list .open-icon:focus {
  outline: 0;
  background-color: none;
}

.menu-list .open-icon i {
  font-size: 25px;
  position: absolute;
  left: 39px;
  height: 42px;
  color: white;
}

.menu-list .open-icon div {
  padding-top: 2px;
}

.not-hidden {
  transition-delay: 0.5s;
}

.text-hidden {
  visibility: hidden;
}

.menu-active {
  border-right: 5px solid #1ABB9C;
  background-color: #213444;
}

/* MAIN CONTENT STUFF */

.main-content {
  padding-left: 220px;
  -webkit-transition: padding-left 0.5s;
  /* #f6f7fb */
  transition: padding-left 0.5s;
  width: 100%;
  background-color: #f6f7fb;
  min-height: 100vh;

}

.main-content-bigger {
  padding-left: 75px !important;
}

.content-area {
  padding: 40px;
  padding-top: 85px;
  width: 100%;
}

@media (max-width: 1200px){
  .content-area {
    padding: 20px;
    padding-top: 85px;
    width: 100%;
  }

}

.date-row {
  width: 100%;
  color: rgb(131, 131, 131);
}

.date-row .time {
  float: right;
  padding-right: 20px;
}

.date-row .date {
  float: left;
}

/* NAV BAR STYLES */

nav {
  position: fixed;
  width: calc(100% - 220px);
  -webkit-transition: width 0.5s;
  /* For Safari 3.1 to 6.0 */
  transition: width 0.5s;
}

.nav-bigger {
  width: calc(100% - 75px);
}

.navbar-custom {
  background-color: white;
  opacity: 1;
  z-index: 990;
  border-bottom: none;
}

.navbar-dark .navbar-nav .nav-link {
  color: #1C4E80;
  font-weight: bold;
}

nav .side-menu-icon {
  color: #4b759e;
  font-size: 25px;
}

nav {
  color: #4b759e;
  border-bottom: 1px solid #bcd8f3;
}

nav .side-menu-icon:hover {
  color: #2a3f54;
  cursor: pointer;
}

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar-dark .navbar-toggler {
  border: 2px solid #488A99;
}

@media (max-width: 991px) {
  .navbar-custom {
    background-color: #2a3f54;
  }
  .navbar-dark .navbar-nav .nav-link {
    color: white;
  }
  nav {
    width: 100% !important;
  }
  .main-content {
    padding-left: 0 !important;
    width: 100% !important;
    padding-right: 0px !important;
  }
  .nav-bigger {
    width: 100% !important;
  }
  .main-content-bigger {
    padding-left: 0px !important;
  }
  .content-area {
    padding-left: 20px !important;
    padding-right: 20px !important;
    padding-top: 65px;
    width: 100% !important;
  }
}

@media (max-width: 767px){
  .content-area {
    padding-left: 10px !important;
    padding-right: 10px !important;
  }
}
